<!DOCTYPE html>
<html>
<head>
    <title>Attendance Records</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="container">
    <h1>Attendance Records</h1>

    <table border="1" cellpadding="8" style="width:100%; background:white; color:black;">
        <tr>
            <th>Name</th>
            <th>Date</th>
            <th>Time</th>
            <th>Method</th>
        </tr>

        {% for row in records %}
        <tr>
            <td>{{ row[0] }}</td>
            <td>{{ row[1] }}</td>
            <td>{{ row[2] }}</td>
            <td>{{ row[3] }}</td>
        </tr>
        {% endfor %}
    </table>

    <br>
    <button onclick="location.href='/dashboard'">Back</button>
    <button onclick="location.href='/logout'">Logout</button>
</div>

</body>
</html>
